In [7]:
import pandas as pd

In [8]:
data = pd.read_csv("dexcomData.csv")

In [9]:
data.head()

   Blood Glucose (mg/dL)  Rate (mg/dL/min)            Timestamp
0                  206.0               0.4  2018-10-27 21:27:07
1                  205.0               0.3  2018-10-27 21:22:07
2                  203.0               0.1  2018-10-27 21:17:07
3                  202.0               0.1  2018-10-27 21:12:07
4                  202.0               0.1  2018-10-27 21:07:07

In [10]:
data["Timestamp"] = pd.to_datetime(data["Timestamp"])

In [11]:
print(type(data["Timestamp"][0]))
data.head()

<class 'pandas._libs.tslibs.timestamps.Timestamp'>

   Blood Glucose (mg/dL)  Rate (mg/dL/min)           Timestamp
0                  206.0               0.4 2018-10-27 21:27:07
1                  205.0               0.3 2018-10-27 21:22:07
2                  203.0               0.1 2018-10-27 21:17:07
3                  202.0               0.1 2018-10-27 21:12:07
4                  202.0               0.1 2018-10-27 21:07:07

In [12]:
data = data.sort_values(["Timestamp"])
data

       Blood Glucose (mg/dL)  Rate (mg/dL/min)           Timestamp
73525                   72.0               0.8 2017-09-11 22:22:07
73524                   78.0               1.2 2017-09-11 22:26:59
73523                   69.0               0.6 2017-09-11 22:31:59
73522                   70.0              12.7 2017-09-11 22:36:58
73521                   61.0              12.7 2017-09-11 22:41:59
73520                   39.0              -2.1 2017-09-11 22:46:59
73519                   39.0              -2.2 2017-09-11 22:51:59
73518                   39.0              -2.1 2017-09-11 22:56:58
73517                   39.0              -0.8 2017-09-11 23:01:59
73516                   39.0              -1.0 2017-09-11 23:06:59
73515                   39.0              -0.8 2017-09-11 23:11:59
73514                   39.0              12.7 2017-09-11 23:16:58
73513                   39.0              12.7 2017-09-11 23:21:59
73512                   48.0              12.7 2017-09-11 23:26:59
73511                   77.0              12.7 2017-09-11 23:41:59
73510                   80.0              12.7 2017-09-11 23:46:58
73509                   74.0              12.7 2017-09-11 23:51:58
73508                   73.0              12.7 2017-09-11 23:56:59
73507                   62.0              12.7 2017-09-12 00:01:59
73506                   58.0              12.7 2017-09-12 00:06:58
73505                   55.0              -1.0 2017-09-12 00:11:58
73504                   54.0              -0.7 2017-09-12 00:16:57
73503                   51.0              -0.5 2017-09-12 00:21:58
73502                   47.0              -0.5 2017-09-12 00:26:58
73501                   43.0              -0.7 2017-09-12 00:31:57
73500                   39.0              -0.8 2017-09-12 00:36:58
73499                   39.0              -0.6 2017-09-12 00:41:58
73498                   40.0              -0.2 2017-09-12 00:46:57
73497                   42.0               0.1 2017-09-12 00:51:58
73496                   70.0               0.5 2017-09-12 00:57:04
...                      ...               ...                 ...
29                     165.0              -0.5 2018-10-27 19:02:07
28                     161.0              -0.9 2018-10-27 19:07:07
27                     156.0              -1.0 2018-10-27 19:12:07
26                     159.0              -0.5 2018-10-27 19:17:07
25                     163.0               0.1 2018-10-27 19:22:08
24                     160.0               0.1 2018-10-27 19:27:07
23                     160.0               0.1 2018-10-27 19:32:07
22                     160.0              -0.1 2018-10-27 19:37:06
21                     163.0               0.2 2018-10-27 19:42:07
20                     164.0               0.4 2018-10-27 19:47:07
19                     167.0               0.6 2018-10-27 19:52:07
18                     169.0               0.6 2018-10-27 19:57:07
17                     176.0               0.9 2018-10-27 20:02:07
16                     179.0               1.0 2018-10-27 20:07:07
15                     186.0               1.3 2018-10-27 20:12:07
14                     180.0               0.4 2018-10-27 20:17:07
13                     189.0               0.8 2018-10-27 20:22:07
12                     188.0               0.5 2018-10-27 20:27:07
11                     190.0               0.6 2018-10-27 20:32:07
10                     194.0               0.7 2018-10-27 20:37:07
9                      196.0               0.6 2018-10-27 20:42:07
8                      199.0               0.7 2018-10-27 20:47:07
7                      200.0               0.5 2018-10-27 20:52:07
6                      201.0               0.4 2018-10-27 20:57:07
5                      202.0               0.3 2018-10-27 21:02:07
4                      202.0               0.1 2018-10-27 21:07:07
3                      202.0               0.1 2018-10-27 21:12:07
2                      203.0               0.1 2018-10-27 21:17:07
1                      205.0               0.3 2018-10-27 21:22:07
0                      206.0               0.4 2018-10-27 21:27:07

[73526 rows x 3 columns]

In [13]:
plot_data = pd.DataFrame(data={"Blood Glucose":data["Blood Glucose (mg/dL)"], "Timestamp":data["Timestamp"]})
plot_data = plot_data.set_index("Timestamp")
plot_data.head()

                     Blood Glucose
Timestamp
2017-09-11 22:22:07           72.0
2017-09-11 22:26:59           78.0
2017-09-11 22:31:59           69.0
2017-09-11 22:36:58           70.0
2017-09-11 22:41:59           61.0

In [14]:
# "Login" to plotly
import plotly
plotly.tools.set_credentials_file(username='t1dhighlow', api_key='qoMfu8em7ZCrDL9rhGri')

In [15]:
# Plot all glucose data
import plotly.plotly as ply
import cufflinks as cf
plot_data.iplot(title="Glucose Data Nov 2017")

C:\Users\corbi\Anaconda3\lib\site-packages\chart_studio\plotly\plotly.py:248: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

The draw time for this plot will be slow for all clients.

C:\Users\corbi\Anaconda3\lib\site-packages\chart_studio\api\v1\clientresp.py:44: UserWarning:

Estimated Draw Time Too Long

C:\Users\corbi\Anaconda3\lib\site-packages\IPython\core\display.py:689: UserWarning:

Consider using IPython.display.IFrame instead

In [16]:
# Example using plotly
import plotly.plotly as py
import plotly.graph_objs as go

trace0 = go.Scatter(
    x=[1, 2, 3, 4],
    y=[10, 15, 13, 17]
)
trace1 = go.Scatter(
    x=[1, 2, 3, 4],
    y=[16, 5, 11, 9]
)
graph_data = [trace0, trace1]

py.iplot(graph_data, filename = 'basic-line')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~t1dhighlow/0 or inside your plot.ly account where it is named 'basic-line'